<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},~{::head},'Beauty by Siedlecka')}">

<head>

</head>

<body>

<!--  <header>-->
<!--    <div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">-->
<!--      <ol class="carousel-indicators">-->
<!--        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--      </ol>-->
<!--      <div class="carousel-inner" role="listbox">-->
<!--        &lt;!&ndash; Slide One - Set the background image for this slide in the line below &ndash;&gt;-->
<!--        <div class="carousel-item active" style="background-image: url('http://serwer29026.lh.pl/beauty_by_siedlecka/slider/pic_1.jpg')"></div>-->
<!--        &lt;!&ndash; Slide Two - Set the background image for this slide in the line below &ndash;&gt;-->
<!--        <div class="carousel-item" style="background-image: url('http://serwer29026.lh.pl/beauty_by_siedlecka/slider/pic_2.jpg')"></div>-->
<!--        &lt;!&ndash; Slide Three - Set the background image for this slide in the line below &ndash;&gt;-->
<!--        <div class="carousel-item" style="background-image: url('http://serwer29026.lh.pl/beauty_by_siedlecka/slider/pic_3.jpg')"></div>-->
<!--      </div>-->
<!--&lt;!&ndash;      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="carousel-control-prev-icon" aria-hidden="true"></span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="sr-only">Previous</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="carousel-control-next-icon" aria-hidden="true"></span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="sr-only">Next</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--    </div>-->
<!--  </header>-->


  <!-- Page Content -->
  <div class="container mt-5 p-3 px-5 my-bg-and-text" >

    <!-- Features Section -->
    <div th:if="${param.cancelVisit}" class="row mt-5 alert alert-info alert-dismissible fade show" role="alert">
      <strong>Anulowano... </strong> Wizyta została anulowana.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <h2>Witaj na stronie BeautyBySiedlecka</h2>
        <p>Znajdziesz tutaj informacje takie jak:</p>
        <ul>
          <li>Informacje o mnie</li>
          <li>Galeria moich prac</li>
          <li>Dyplomy i certyfikaty z moich szkoleń</li>
          <li>Możliwość umówienia się na wizytę</li>
          <li>Wzornik kolorów systematycznie aktualizowany</li>
        </ul>
        <p>Strona powstała jako kolejny projekt mojego męża aby połączyć wykonanie projektu do portfolio wraz z
          narzędziem, które można wykorzystać. Jeżeli znajdziesz jakieś błędy lub chcesz ocenić tą stronę,
          w zakładce kontakt znajdziesz na to miejsce.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" th:src="@{/img/nat.jpg}" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr class="hr-my">

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Strona umożliwia umówienie się na zabieg wykonywany przez BeautyBySiedlecka. Aby umówić się na wizytę wybierz odpowiednią opcję w menu lub kliknij przycisk 'Umów się na wizytę'</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-primary btn-block" href="/visit/new">Umów się na wizytę</a>
      </div>
    </div>

    <hr id="o_mnie" class="hr-my">

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Natalia Siedlecka</h2>
        <p>cos cos cos</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
      </div>
    </div>
    <!-- /.row -->


    <hr id="zabiegi" class="hr-my">


    <!-- Treatments -->
    <h2 class="mb-3">Wykonywane zabiegi</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center bg-dark">
          <img class="card-img-top" th:src="@{img/treatments/mani.jpg}" alt="">
          <div class="card-body">
            <h4 class="card-title">Manicure</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center bg-dark">
          <img class="card-img-top" th:src="@{img/treatments/pedi.jpg}" alt="">
          <div class="card-body">
            <h4 class="card-title">Pedicure</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center bg-dark">
          <img class="card-img-top" th:src="@{img/treatments/IBX.jpg}" alt="">
          <div class="card-body">
            <h4 class="card-title">IBX System</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <hr class="hr-my">

    <!-- Our Customers -->
    <h2 class="mb-3">Korzystam z produktów tych firm</h2>
    <div class="row justify-content-center">
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/claresa.jpg}" alt="">
      </div>
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/hi-hibryd.jpg}" alt="">
      </div>
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/indigo.jpg}" alt="">
      </div>
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/mylaq.jpg}" alt="">
      </div>
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/neonail.jpg}" alt="">
      </div>
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/palu.jpg}" alt="">
      </div>
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/semilac.jpg}" alt="">
      </div>
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/slowianka.jpg}" alt="">
      </div>
      <div class="col-6 col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" th:src="@{/img/products/victoria.jpg}" alt="">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


</body>

</html>
