<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie - Beauty By Siedlecka</title>

    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">

    <link th:href="@{/css/style2.css}" type="text/css" rel="stylesheet">
</head>
<body class="text-center container bg-photo">
<div style="margin-top: 50px"></div>
<div class="row justify-content-center">
    <div class="myForm col-auto px-sm-5 py-2">
        <form class="form-signin justify-content-center" th:action="@{/user}" th:object="${userForm}" method="post">

            <div th:if="${param.error}" class="alert alert-error">
                Niestety w formularzu wystąpiły błędy. Popraw je aby kontynuować.
            </div>

            <div class="row justify-content-center">
                <a href="/">
                    <img class="mb-4" src="http://serwer29026.lh.pl/beauty_by_siedlecka/logo/logo_3.png" alt="" width="120" height="120">
                </a>
                <h1 class="h3 mb-3 col-12 font-weight-normal text-white">Rejestracja</h1>
            </div>
            <div class="row">
<!--                filed firstName-->
                <div class="col-sm-6">
                    <label th:for="*{firstName}" class="col-form-label text-white">
                        Imię:
                    </label>
                    <button th:replace="fragments/infoButton.html :: infoButton('Nie wiemy jak się do Ciebie zwracać')"></button>
                    <input type="text" th:field="*{firstName}"
                           th:class="${'form-control '+(#fields.hasErrors('firstName')?'is-invalid ':'')+((!#fields.hasErrors('firstName') && #fields.hasAnyErrors())?'is-valid ':'')}"
                           placeholder="Podaj imię" autofocus>
                    <div th:if="${#fields.hasErrors('firstName')}" class="myError alert-danger" th:errors="*{firstName}">error</div>
                </div>
<!--                .field-->

<!--                filed lastName-->
                <div class="col-sm-6">
                    <label th:for="*{lastName}" class="col-form-label text-white">
                        Nazwisko:
                    </label>
                    <input type="text" th:field="*{lastName}" class="form-control" placeholder="Podaj nazwisko" autofocus
                           th:oninvalid="this.setCustomValidity('Podaj nazwisko')"
                           oninput="setCustomValidity('')">
                    <div th:if="${#fields.hasErrors('lastName')}" class="myError alert-danger" th:errors="*{lastName}">error</div>
                </div>
<!--                .field-->
            </div>

            <div class="row">
<!--                filed email-->
                <div class="col-sm-6">
                    <label th:for="*{email}" class="col-form-label text-white">
                        E-mail:
                    </label>
                    <button th:replace="fragments/infoButton.html :: infoButton('Potrzebny do aktywacji konta')"></button>
                    <input type="text" th:field="*{email}"
                           th:class="${'form-control '+(#fields.hasErrors('email')?'is-invalid ':'')+((!#fields.hasErrors('email') && #fields.hasAnyErrors())?'is-valid ':'')}"
                           class="form-control" placeholder="Podaj email" autofocus>
                    <div th:if="${#fields.hasErrors('email')}" class="myError alert-danger" th:errors="*{email}">error</div>
                </div>
<!--                .field-->

<!--                filed username-->
                <div class="col-sm-6">
                    <label th:for="*{username}" class="col-form-label text-white">
                        Login:
                    </label>
                    <button th:replace="fragments/infoButton.html :: infoButton('Login służy do logowania. Musi być unikatowy')"></button>
                    <input type="text" th:field="*{username}"
                           th:class="${'form-control '+(#fields.hasErrors('username')?'is-invalid ':'')+((!#fields.hasErrors('username') && #fields.hasAnyErrors())?'is-valid ':'')}"
                           class="form-control" placeholder="Podaj login" autofocus>
                    <div th:if="${#fields.hasErrors('username')}" class="myError alert-danger" th:errors="*{username}">error</div>
                </div>
<!--                .field-->
            </div>

            <div class="row">
<!--                filed birthDate-->
                <div class="col-sm-6">
                    <label th:for="*{birthDate}" class="col-form-label text-white">
                        Data urodzenia:
                    </label>
                    <button th:replace="fragments/infoButton.html :: infoButton('Podając datę potwierdzasz pełnoletność i tyle.')"></button>
                    <input type="date" th:field="*{birthDate}"
                           th:class="${'form-control '+(#fields.hasErrors('birthDate')?'is-invalid ':'')+((!#fields.hasErrors('birthDate') && #fields.hasAnyErrors())?'is-valid ':'')}"
                           class="form-control" placeholder="Podaj datę urodzenia" autofocus>
                    <div th:if="${#fields.hasErrors('birthDate')}" class="myError alert-danger" th:errors="*{birthDate}">error</div>
                </div>
<!--                .field-->

<!--                filed phoneNumber-->
                <div class="col-sm-6">
                    <label th:for="*{phoneNumber}" class="col-form-label text-white">
                        Nr. telefonu:
                    </label>
                    <button th:replace="fragments/infoButton.html :: infoButton('Wyślemy sms\'a z przypomnieniem o wizycie lub zadzwonimy jeśli coś się zmieni.')"></button>
                    <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="Podaj nr. telefonu"
                           th:class="${'form-control '+(#fields.hasErrors('phoneNumber')?'is-invalid ':'')+((!#fields.hasErrors('phoneNumber') && #fields.hasAnyErrors())?'is-valid ':'')}"
                           autofocus>
                    <div th:if="${#fields.hasErrors('phoneNumber')}" class="myError alert-danger" th:errors="*{phoneNumber}">error</div>
                </div>
<!--                .field-->
            </div>

            <div class="row">
<!--                filed password-->
                <div class="col-sm-6">
                    <label th:for="*{password}" class="col-form-label text-white">
                        Hasło:
                    </label>
                    <button th:replace="fragments/infoButton.html :: infoButton('Długość minimum 6 znaków. Musi zawierać minimum jedną cyfrę i dużą literę')"></button>
                    <input type="password" th:field="*{password}" class="form-control" placeholder="Podaj hasło"
                           th:class="${'form-control '+(#fields.hasErrors('password') || passwordMatch!=null?'is-invalid ':'')}"
                           autofocus>
                    <div th:if="${#fields.hasErrors('password')}" class="myError alert-danger" th:errors="*{password}">error</div>
                </div>
<!--                .field-->

<!--                filed password2-->
                <div class="col-sm-6">
                    <label th:for="*{password2}" class="col-form-label text-white">
                        Powtórz hasło:
                    </label>
                    <button th:replace="fragments/infoButton.html :: infoButton('Długość minimum 6 znaków. Musi zawierać minimum jedną cyfrę i dużą literę')"></button>
                    <input type="password" th:field="*{password2}" class="form-control" placeholder="Powtórz hasło"
                           th:class="${'form-control '+(#fields.hasErrors('password')|| passwordMatch!=null?'is-invalid ':'')}"
                           autofocus>
                    <div th:if="${#fields.hasErrors('password2')}" class="myError alert-danger" th:errors="*{password2}">error</div>
                </div>
                <!--                .field-->

            </div>

            <div class="row">
                <div class="col-12">
<!--                    <input th:field="*{passwordMatch}" th:value="true" hidden>-->
                    <div th:if="${passwordMatch}" class="myError alert-danger" th:text="${passwordMatch}">error</div>
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block my-3" type="submit">Utwórz konto</button>

            <div class="my-2">
                <a class="alert-link text-white" href="/login">Logowanie</a>
            </div>

        </form>
    </div>
</div>
</body>
</html>